# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# outputs
dist/
build/
coverage/
storybook-static/

.next/
out/

# generated service worker
site/public/sw*
site/public/workbox*

# dependencies
node_modules/

# cache
.turbo/
.rollup.cache/
*.tsbuildinfo

# misc 
tmp/
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# env files
.env*
!.env.example
.graphqlrc

# third party
.vercel
.sentryclirc

*storybook.log

