dist/
build/

node_modules/
fixtures/
.cache/
.turbo/
.DS_Store
coverage/
tmp/

.env

.next
.vercel

.rollup.cache/

# Turborepo
.turbo

# Expo
.expo/
expo-env.d.ts
app/.gitignore
app/ios
app/android
