services:
  site:
    container_name: junatlive
    image: ghcr.io/jqpe/junat.live:${IMAGE_TAG:-latest}
    restart: unless-stopped
    ports:
      - 127.0.0.1:3000:3000
    networks:
      - junat.live

networks:
  junat.live:
    external: true
