@use '../../sass/theme/colors';
@use '../../sass/utils/color_scheme';

.circle {
  fill: colors.$slate-gray-500;
  &[data-departed='true'] {
    fill: colors.$primary-600;
    @include color_scheme.darkMode {
      fill: colors.$primary-400;
    }
  }
  @include color_scheme.darkMode {
    fill: colors.$slate-gray-600;
  }
}
