@use '../../sass/theme/colors';
@use '../../sass/utils/color_scheme';

.searchBar {
  border: 1px solid colors.$slate-gray-200;
  border-radius: 30px;
  padding: 0.25rem 1rem;
  margin-inline: -1rem;
  @include color_scheme.darkMode {
    border-color: colors.$slate-gray-800;
  }

  .searchForm {
    display: flex;
    justify-content: space-between;
  }

  .submitButton {
    outline: 1px solid transparent;
    width: fit-content;
    display: flex;
    transition: box-shadow 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
    padding: 0.25rem;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 0px colors.$slate-gray-200;
    &:focus {
      transform: scale(1.05);
      background-color: colors.$secondary-300;
      box-shadow: 0px 0px 5px 0px colors.$slate-gray-300;

      .searchIcon {
        fill: colors.$secondary-800;
      }
    }
    @include color_scheme.darkMode {
      box-shadow: 0px 0px 2px 0px colors.$slate-gray-800;
      &:focus,
      &:hover {
        background-color: colors.$secondary-600;
        box-shadow: 0px 0px 5px 0px colors.$slate-gray-700;

        .searchIcon {
          fill: colors.$primary-100;
        }
      }
    }
  }

  .searchIcon {
    transition: fill 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
    fill: colors.$slate-gray-500;
    &:hover {
      fill: colors.$primary-600;
    }

    @include color_scheme.darkMode {
      fill: colors.$slate-gray-600;
      &:hover {
        fill: colors.$primary-500;
      }
    }
  }
}
