@use '../../sass/theme/colors';
@use '../../sass/utils/color_scheme';

.timetable {
  display: flex;
  color: colors.$slate-gray-800;
  @include color_scheme.darkMode {
    color: colors.$slate-gray-200;
  }

  tbody {
    width: 100%;
  }

  tr {
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
    margin-top: 1rem;
    position: relative;

    td {
      & > *:nth-child(2) {
        margin-left: 1rem;
        color: colors.$primary-700;
        @include color_scheme.darkMode {
          color: colors.$primary-500;
        }
      }
    }
  }
}
