@use '../../sass/theme/colors';

.page {
  padding-top: 1.875rem;
  width: 100%;
  margin: auto;

  header {
    margin-bottom: 20px;
  }

  .content {
    padding-inline: 1.875rem;
    margin: auto;
    max-width: 500px;
    min-height: 100vh;
  }
}
