.page {
  padding-inline: 1.875rem;
  padding-top: 1.875rem;
  max-width: 500px;
  display: flex;
  width: 100%;
  margin: auto;
  padding-bottom: 4.375rem;

  header {
    margin-bottom: 20px;
  }
}
