$pc-h1: 39.81px;
$pc-h2: 33.18px;
$pc-h3: 27.65px;
$pc-h4: 23px;
$pc-h5: 19.2px;
$pc-paragraph: 16px;
$pc-caption: 13.33px;

$mobile-h1: 31.36px;
$mobile-h2: 26.69px;
$mobile-h3: 22.71px;
$mobile-h4: 19.33px;
$mobile-h5: 16.45px;
$mobile-paragraph: 14px;
$mobile-caption: 11.91px;
