@use '../sass/theme/colors';
@use '../sass/utils/color_scheme';

.stationPage {
  width: 100%;
}

.fetchTrainsButtonWrapper {
  display: flex;
  justify-content: center;

  > button {
    margin-top: 2rem;
  }
}
