@use '../sass/theme/colors';
@use '../sass/utils/color_scheme';

.stationPage {
  width: 100%;
}

.fetchTrainsButtonWrapper {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 1.875rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
