@use '../../../sass/theme/colors';
@use '../../../sass/theme/typescale';
@use '../../../sass/utils/color_scheme';

.footer {
  margin-top: 3rem;
  padding: 1rem 5vw;
  right: 0;
  left: 0;
  background-color: colors.$slate-gray-800;
  color: colors.$slate-gray-500;
  font-size: typescale.$mobile-caption;

  @media screen and (min-width: 550px) {
    font-size: typescale.$pc-caption;
  }

  a {
    color: colors.$primary-500;
    &:hover,
    &:focus {
      color: colors.$primary-200;
    }
  }

  background: linear-gradient(colors.$slate-gray-900, colors.$slate-gray-900);
  background-color: colors.$slate-gray-700;
  background-image: linear-gradient(
      45deg,
      colors.$slate-gray-900 25%,
      transparent 20%
    ),
    linear-gradient(-45deg, colors.$slate-gray-900 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, colors.$secondary-900 75%),
    linear-gradient(-45deg, transparent 75%, colors.$slate-gray-900 75%),
    linear-gradient(-45deg, transparent, colors.$slate-gray-800 25%),
    linear-gradient(-45deg, transparent, colors.$slate-gray-900 15%);
  background-size: 15px 5px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px, -10px 0, 10px 12px;
}
